<div *ngIf="!viewParticipants">
    <h2 class="pb-3">List of PN Events</h2>
    <div>
        <div *ngFor="let event of events">
            <app-event-details [eventInput]="event" (eventOutput)="viewDetails($event)"></app-event-details>
        </div>
    </div>    
</div>
    
<div *ngIf="viewParticipants">
    <h2 class="pb-3" style="text-align: center;">{{event.name}}</h2>
    <app-participants-list 
        [participants]="event.participants"
        (backButton)="returnToList()"
        ></app-participants-list>
</div>