<div *ngIf="!viewParticipants">
    <button type="button" class="btn btn-danger" style="float: right;" (click)="logout()">Logout</button>

    <div class="row">
        <div class="col">
            <h2 class="pb-3">List of PN Events</h2>
        </div>
        <div class="col">
            <app-add-event (event)="addEvent($event)"></app-add-event>
        </div>
    </div>
    <div>
        <div *ngFor="let event of events">
            <div class="jumbotron col-sm-12 events-list">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>{{event.name}}</h2>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" style="float: right;" (click)="viewEvent(event)">View Event Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>