<div class="container">
  <h1 class="pt-5 pb-5">{{title}}</h1>
  <div *ngFor="let event of events">
    <div class="jumbotron">
      <h2>{{event.name}}</h2>
      <div class="col body-content">
        <div class="row">
          <span><b>Category: </b>{{event.category}}</span>
        </div>
        <div class="row" *ngIf="event.speaker">
          <span><b>Speaker: </b>{{event.speaker}}</span>
        </div>
        <div class="row" *ngIf="event.emcee">
          <span><b>Emcee: </b>{{event.emcee}}</span>
        </div>
        <div class="row">
          <span><b>Time: </b>{{event.time}}</span>
        </div>
        <div class="row">
          <span><b>Date: </b>{{event.date}}</span>
        </div>
        <div class="row">
          <span><b>Description:</b></span>      
        </div>
        <p>
          {{event.description}}
        </p>
        </div>  
    </div>  
  </div>
</div>
