<div class="container">
    <h2>List of Participants</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Position</th>
          <th>Company/Organization</th>
        </tr>
      </thead>
      <tbody *ngFor="let participant of participants">
        <tr>
          <td>{{participant.fullName}}</td>
          <td>{{participant.position}}</td>
          <td>{{participant.company}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" type="submit" (click)="returnToList()">Back</button>
  </div>